<div id="<%= dom_id course_prerequisite %>">
  <p>
    <strong>Course:</strong>
    <%= course_prerequisite.course.name %>
  </p>

  <p>
    <strong>Prerequisite course:</strong>
    <%= course_prerequisite.prerequisite_course.name %>
  </p>

</div>
