<p style="color: green"><%= notice %></p>

<% content_for :title, "Buildings" %>

<h1>Buildings</h1>

<div id="buildings">
  <% @buildings.each do |building| %>
    <div class="table_entry">
      <%= render building %>
      <p>
        <%= link_to "Show this building", building %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New building", new_building_path %>
