<p style="color: green"><%= notice %></p>

<% content_for :title, "Teachers" %>

<h1>Teachers</h1>

<div id="teachers">
  <% @teachers.each do |teacher| %>
    <div class="table_entry">
      <%= render teacher %>
      <p>
        <%= link_to "Show this teacher", teacher %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New teacher", new_teacher_path %>
