<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<h1><%= "#{Student.find(params[:student_id]).full_name}'s " if params[:student_id] %>Courses</h1>

<%= render "shared/course_list" %>

<%= link_to "New course", new_course_path %>
